body,html{
    /*!* -ms-scroll-chaining: none;*/-ms-scroll-chaining:none;margin:0;overscroll-behavior:none;padding:0}@-webkit-keyframes slidetounlock{0%{background-position:-100px 0}10%{background-position:-100px 0}50%{background-position:100px 0}to{background-position:100px 0}}@keyframes slidetounlock{0%{background-position:-100px 0}10%{background-position:-100px 0}50%{background-position:100px 0}to{background-position:100px 0}}
.min-h-full{min-height:100vh}.flex{display:flex}.flex-both-center{align-items:center;display:flex;justify-content:center}.flex-wrap{flex-wrap:wrap}


.flex-h-center{display:flex;justify-content:center}

.item-center{align-items:center}.justify-center{justify-content:center}.flex-dir-c{flex-direction:column}.justify-between{justify-content:space-between}.m-0{margin:0}.mx-auto{margin-left:auto;margin-right:auto}.mt-2{margin-top:2px}.mt-4{margin-top:4px}.mt-6{margin-top:6px}.mt-8{margin-top:8px}.mt-12{margin-top:12px}.mb-12{margin-bottom:12px}.m-16{margin:16px}.mt-14{margin-top:14px}.mt-16{margin-top:16px}.mt-18{margin-top:18px}.mt-20{margin-top:20px}.mt-24{margin-top:24px}.mt-32{margin-top:32px}.mt-48{margin-top:48px}.mt-120{margin-top:120px}.mb-2{margin-bottom:2px}.mb-4{margin-bottom:4px}.mb-8{margin-bottom:8px}.mb-48{margin-bottom:48px}.m-auto{margin:auto}.ml-6{margin-left:6px}.ml-3{margin-left:3px}.mr-8{margin-right:8px}.py-10{padding:10px}.pr-10{padding-right:10px}.pr-12{padding-right:12px}.p-16{padding:16px}.pr-16{padding-right:16px}.p-32{padding:32px}.pb-4{padding-bottom:4px}.pb-8{padding-bottom:8px}.pb-24{padding-bottom:24px}.pb-32{padding-bottom:32px}.pb-48{padding-bottom:48px}.pt-20{padding-top:20px}.pb-5{padding-bottom:5px}.pt-8{padding-top:8px}.pt-16{padding-top:16px}.pt-22{padding-top:22px}.pt-24{padding-top:24px}.pt-32{padding-top:32px!important}.absolute{position:absolute}.ln-h-17{line-height:17px}.ln-h-22{line-height:22px}.ln-h-24{line-height:24px}.ln-h-32{line-height:32px}.ln-h-30{line-height:30px}.text-fs-12{font-size:12px}.text-fs-14{font-size:14px}.text-fs-16{font-size:16px}.text-fs-18{font-size:18px}.text-fs-20{font-size:20px}.text-fs-22{font-size:22px}.font-inter{font-family:Inter,sans-serif}.font-weight-400{font-weight:400}.font-weight-500{font-weight:500}.font-weight-600{font-weight:600}.font-weight-700{font-weight:700}.color-white{color:#fff}.color-gray{color:hsla(0,0%,100%,.9)}.color-dark{color:#222}.color-danger{color:#ff4963}.color-gray-6e{color:#6e6d7a}.bg-white{background:#fff}.border-grey{border:1px solid #d7dce1}.border-r-12{border-radius:12px}.page-bg{height:100vh;inset:0;position:fixed;width:100vw;z-index:-1}.w-full{width:100%}.w-80p{width:80%}.w-250{width:250px}.h-0{height:0}.h-auto{height:auto}.h-150,.h-165{height:150px}.w-h-80{height:80px;width:80px}.background-overlay{height:100vh;position:fixed;width:100%;z-index:0}.page-overlay{-webkit-backdrop-filter:blur(20px);backdrop-filter:blur(20px);background:rgba(0,0,0,.1);height:100vh;left:0;position:fixed;top:0;width:100vw;z-index:100}.page-overlay-btn{background:transparent;border-radius:6px;cursor:pointer;display:inline-block;font-family:Inter,sans-serif;font-size:1.2em;padding:10px 30px;text-decoration:none}.page-overlay-title{font-family:sans-serif;font-size:30px}.page-overlay-text{font-size:18px}.page-image{height:100%;left:0;position:fixed;top:0;width:100vw}.display-image,.page-image{-o-object-fit:cover;object-fit:cover}.display-image{border-radius:50%;display:block;height:96px;width:96px}.text-center{text-align:center;}.page-title{margin-bottom:0}.page-bioline{font-weight:500}.button-subscription,.button-subscription-area{align-items:center;display:flex;justify-content:center}.button-subscription{background:transparent;border:1.5px solid rgba(13,12,34,.1);border-radius:45px;cursor:pointer;font-weight:600;gap:8px;padding:10px 14px}.button-subscription,.button-subscription:hover{transition:transform .15s cubic-bezier(.17,.67,.29,2.71) 0s}.button-subscription:hover{transform:scale(1.025)}

.page-full-wrap{margin-top:24px;padding-bottom:176px;width:411px;z-index:10}.page-item-wrap{transition:transform .15s cubic-bezier(.17,.67,.29,2.71) 0s}.page-item-wrap.show-embed{border-radius:30px;box-shadow:none;transform:unset;transition:unset}.page-item-wrap.expanded-form:hover,.page-item-wrap.show-embed:hover{transform:unset}.page-item-wrap.show-embed:hover .page-item:after,.page-item-wrap.show-embed:hover .page-item:before{-webkit-animation:unset;animation:unset}.show-embed-item{overflow:hidden;transition:all .3s ease-in-out}.page-item-wrap.show-embed .show-embed-item{overflow:visible}.embed-ind-arrow-icon{transform:rotate(-90deg)}.contact_form.contact-expand .embed-ind-arrow-icon,.page-item-wrap.show-embed .embed-ind-arrow-icon,.show-article-embed.article-expand .embed-ind-arrow-icon{transform:rotate(0deg)}.page-item{box-sizing:border-box;height:100%;left:0;position:absolute;top:0;width:100%;z-index:-1}.page-social{cursor:pointer;display:block;margin:0 12px 12px}.page-social svg{height:28px;width:28px}
.relative{position:relative}.link-each-image{height:43px;left:9px;-o-object-fit:cover;object-fit:cover;position:absolute;width:43px}

.footesr-logo{bottom: 30px;left: calc(100% - 10px);position:absolute;}
.footer-logo{bottom: 50px;left: calc(100% - 10px); position: absolute;}

.bl-logo-br{opacity:1}.rounded-md{border-radius:8px}.rounded-lg{border-radius:16px}.rounded-2xl{border-radius:24px}.close-embed{background:#fff;border-radius:50%;height:25px;opacity:.7;width:25px}.embed-wrap{box-sizing:border-box;height:100%;padding:8px;width:100%}.embed-ind-arrow{height:14px;margin-bottom:16px;position:absolute;right:24px;top:calc(50% - 7px)}.embed-ind-arrow-icon{transition:all .4s ease-in-out}.close-embed:hover{opacity:1}.cursor-pointer{cursor:pointer}.page-item-each{box-sizing:border-box;overflow:hidden;text-decoration:none;z-index:10}.item-title{width:55%;word-break:break-word}.social-icon-anchor{height:100%;left:0;position:absolute;top:0;width:100%}.page-social:hover{transform:scale(1.1);transition:all .1s ease-in-out}.page-item-title{font-weight:700;margin-bottom:16px}.embed-wrap-inside{background-color:#fff;box-sizing:border-box;display:flex;height:100%;justify-content:center;overflow:hidden;padding:10px}.embed-wrap-inside iframe{min-width:500px;width:auto}.embed-wrap-inside{position:relative}.embed-wrap-inside:after{border:10px solid #fff;content:"";height:85%;pointer-events:none;position:absolute;transition-duration:.2s;transition-property:border;width:495px}.subscribers-img{border-radius:50%;box-shadow:0 0 10px rgba(0,0,0,.05);height:64px;margin-bottom:8px;width:64px}.subsc-count{color:hsla(0,0%,100%,.9);font-weight:300;line-height:24px}.subsc-err{height:40px;transition:all .25s ease-in-out}.w-400{width:400px}.subsc-button{align-items:center;background:#000;border:none;border-radius:4px;color:#fff;cursor:pointer;height:40px;justify-content:center;line-height:17px;padding:7px 12px 8px;text-decoration:none}.thank-you-btn{border-radius:2px}.dark-btn{background:#222;border:1.5px solid #222;color:#fff;height:48px;padding:0 24px}.subsc-button:focus{outline:none}.subsc-email{background:rgba(13,12,34,.05);border-radius:4px;box-sizing:border-box;font-size:14px;height:40px;padding:0 12px;width:100%}.dark-input{border:1.5px solid #222;color:#222;font-size:16px;height:48px;width:calc(100% - 100px)}.subsc-email::-moz-placeholder{color:#6e6d7a;font-family:Inter,sans-serif;font-size:14px;line-height:17px}.subsc-email:-ms-input-placeholder{color:#6e6d7a;font-family:Inter,sans-serif;font-size:14px;line-height:17px}.subsc-email::placeholder{color:#6e6d7a;font-family:Inter,sans-serif;font-size:14px;line-height:17px}.dark-input::-moz-placeholder{color:#6e6d7a;font-size:16px}.dark-input:-ms-input-placeholder{color:#6e6d7a;font-size:16px}.dark-input::placeholder{color:#6e6d7a;font-size:16px}.featured-subscribers .subsc-email:focus{background:#fff;outline:none}.featured-subscribers{align-items:center;bottom:0;box-shadow:0 1.60588px 4.41618px rgba(24,39,75,.12),0 2.81029px 12.8471px rgba(24,39,75,.12);box-sizing:border-box;display:flex;height:auto;justify-content:center;left:0;opacity:1;position:fixed;right:0;top:0;transition:all .27s cubic-bezier(.1,.9,.9,.9);width:100%;z-index:100}.featured-subscribers-inside{border-radius:16px}.featured-subscribers-inside,.share-items-inside{align-items:center;background:#fff;display:flex;flex-flow:column;gap:8px;justify-content:center}.share-items-inside{border-radius:8px}.share-items-inside,.subscriber-modal,.unsubscribe-modal{opacity:0;transform:scale(.9);transition:all .2s}.unsubscribe-modal{padding-bottom:16px}.active-modal{opacity:1;transform:scale(1)}.featured-subscribers .featured-head{line-height:20px}.featured-subscribers .unsubsc_sec{color:#6e6d7a;cursor:pointer;display:flex;flex-flow:column;font-family:Inter,sans-serif;font-size:16px;font-weight:500;padding-top:18px;width:100%}.featured-subscribers .unsubsc_btn{border-bottom:1px solid rgba(13,12,34,.1);color:#ff4963;display:flex;height:19px;justify-content:center;padding-bottom:20px}.featured-subscribers .cancel_unsubsc:hover,.featured-subscribers .unsubsc_btn:hover{transform:scale(1.025)}.featured-subscribers .subsc-banner{display:flex;width:100%}.featured-subscribers .subsc-email{border-radius:3px}.featured-subscribers .subsc-button{border-radius:4px;height:40px;padding-right:0}.featured-subscribers .subsc-email-out{border-radius:4px;margin-bottom:14px;padding-right:2px;width:100%}.featured-subscribers .subsc-email{border:none;margin:1px}.featured-subscribers .subsc-email::-moz-placeholder{color:#666}.featured-subscribers .subsc-email:-ms-input-placeholder{color:#666}.featured-subscribers .subsc-email::placeholder{color:#666}.featured-subscribers .subsc-email-out:focus-within{background:linear-gradient(167.97deg,#ff5858 1.57%,#c058ff 97.89%)}.subsc-verify-out{display:flex;flex-flow:row;gap:8px;justify-content:center}.invisible{opacity:0;position:absolute}.subsc-verify-out input{align-items:center;background:#f0f0f0;border:1px;border-radius:4px;display:flex;font-family:Inter,sans-serif;font-size:1…

}


.center {
  display:flex;
  align-items:center;
  justify-content:center;
}

.light-orange {
  color:#ef9d64;
}

.light-blue {
  color:#6a8de4;
}



#root {
  display:flex;
  align-items:center;
  justify-content:center;
}

#main {
      backdrop-filter: blur(5px);
  display:block;
  position:relative;
  margin-top:10px;
  margin-bottom:10px;
  width:411px;
  max-width:411px;
height:auto;
  min-height:auto;
  background-color:#ffffff30;
  border-radius:30px;
  -webkit-box-shadow:7px 7px 20px -5px rgba(0,0,0,.4);
  box-shadow:7px 7px 20px -5px rgba(0,0,0,.1);
}

.container {
  padding:0 15px;
}

#cover-image {
  background-position:center;
  background-size:cover;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  width:411px;
  height:200px;
  position:relative;
  left:-15px;
}

#profile-header {
  position:relative;
  display:grid;
  grid-template-columns:120px auto;
  column-gap:15px;
  margin-bottom:-25px;
}

#avatar-image {
  position:relative;
  background-position:center;
  background-size:cover;
  border-radius:25px;
  width:120px;
  height:120px;
  top:-25px;
}

#name {
  position:relative;
  padding-top:5px;
}

.names {
  font-weight:600;
  font-size:26px;
  margin:0;
}

#skills {
  padding-top:5px;
  margin-left:5px;
}

.skill-item {
  display:inline-flex;
  justify-content:center;
  align-content:center;
  position:relative;
  font-size:14px;
  font-weight:400;
  height:20px;
  margin-right:10px;
  width:auto;
}

.skill-item::before {
  position:absolute;
  content:"";
  padding-left:5px;
  padding-right:5px;
  width:100%;
  height:18px;
  background-color:currentColor;
  opacity:.2;
  border-radius:5px;
}

.bio-story {
  position:relative;
  display:grid;
  grid-template-columns:70px auto;
  height:70px;
  width:100%;
  background-color:#e8f0fb;
  border-radius:20px;
  -webkit-box-shadow:7px 7px 20px -5px rgba(0,0,0,.4);
  box-shadow:7px 7px 20px -5px rgba(0,0,0,.1);
  margin-bottom:15px;
}

.bio-story-thumb {
  width:50px;
  height:50px;
  background-position:center;
  background-size:cover;
  border-radius:12px;
  margin:10px;
}

.bio-story-content p {
  position:relative;
  font-size:15px;
  margin-top:18px;
  font-weight:500;
}

.bio-story-content span {
  position:absolute;
  font-size:12px;
  bottom:15px;
  color:#587fe1;
  font-weight:500;
}

#content-body {
  position:relative;
  margin-top:20px;
  max-width:100%;
}

.drop-title {
  font-weight:600;
  font-size:18px;
  margin-left:10px;
}




#link-box {
  position:relative;
  width:100%;
}

.link-item {
  backdrop-filter: blur(1px);
  position:relative;
  display:grid;
  grid-template-columns:70px auto 65px;
  height:70px;
  width:100%;
  background-color: #a3a3a352;
  border-radius:20px;
  margin-bottom:15px;
  -webkit-box-shadow:7px 7px 20px -5px rgba(0,0,0,.4);
  box-shadow:7px 7px 20px -5px rgba(0,0,0,.1);
  transition:all 250ms ease-in-out;
}

.link-item:hover {
  background-color:#ffffff6b;
}

.link-content {
  padding-top:15px;
}

.link-content p {
  margin:0;
  font-weight:600;
}

.link-content span {
  position:absolute;
  font-weight:400;
  font-size:14px;
  bottom:15px;
  color:#a6a9b1;
  max-width:50%;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
  transition:all 250ms;
  cursor:pointer;
}

.link-content span:hover {
  color:#fffdfc;
}

.link-btn-chill {
      display: inline-flex;
    justify-content: center;
    align-content: center;
    position: relative;
    margin-top: 25px;
    font-size: 15px;
    width: 15PX;
    font-weight: 600;
}

.link-btn-chill::before {
 	position: absolute;
    content: "";
    padding-left: 15px;
    padding-right: 20px;
    width: 40px;
    height: 22px;
    background-color: currentColor;
    opacity: .2;
    border-radius: 5px;
    top: -2px;
    transition: all 250ms;
}

.link-btn-chill {
  transition:all 250ms ease-in-out;
}

.link-btn-chill:hover::before {
  opacity:.5;
}


#audio {
    width: auto;
}
